.about {
  padding: 0 $gap-small;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    padding-left: $gap-large;
    padding-right: $gap-large;
  }
}

.about__icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &--utility::after {
    content: url("../../img/utility.svg");
    position: absolute;
    top: 16px;
    left: 17px;
  }

  &--preparation::after {
    content: url("../../img/preparation.svg");
    position: absolute;
    top: 13px;
    left: 15px;
  }

  &--dose::after {
    content: url("../../img/dose.svg");
    position: absolute;
    top: 15px;
    left: 17px;
  }

  &--term::after {
    content: url("../../img/term.svg");
    position: absolute;
    top: 13px;
    left: 14px;
  }
}

.about__title {
  margin-bottom: 38px;
}

.about__list {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 37px;
  }
}
