.about {
  padding: 0 $gap-small;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
    padding-bottom: 6px;
    border-bottom: 1px solid $mercury;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.about__icon {
  position: relative;
  margin-right: $gap-small;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &--utility::after {
    content: url("../../img/utility.svg");
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 13px);
  }

  &--preparation::after {
    content: url("../../img/preparation.svg");
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 15px);
  }

  &--dose::after {
    content: url("../../img/dose.svg");
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 13px);
  }

  &--term::after {
    content: url("../../img/term.svg");
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 16px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
  }
}

.about__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.about__list {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__item {
  position: relative;

  @media (max-width: $mobile-width-only) {
    display: flex;

    .about__icon {
      flex-shrink: 0;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;

    &::after {
      position: absolute;
      top: -38px;
      left: 118px;
      counter-increment: about-item;
      content: counter(about-item);
      font-size: 275px;
      line-height: 275px;
      color: $basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 250px;

    &::after {
      left: 120px;
      font-size: 275px;
      line-height: 275px;
    }
  }

  .text {
    max-width: 245px;
  }
}
