.additional-products {
  padding-bottom: 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.additional-products__title {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% + 4px);
    height: 2px;
    background-color: $basic-green;
  }

  &::before {
    display: none;
    left: -100000px;

    @media (min-width: $tablet-width) {
      display: block;
      right: calc(100% + 40px);
    }
  }

  &::after {
    right: -100000px;
    left: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }
}

.additional-products__item {
  padding-bottom: 18px;
  border-top: 1px solid $silver;

  &:last-child {
    border-bottom: 1px solid $silver;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 38px 28px;
    border-left: 1px solid $silver;
    border-right: 1px solid $silver;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 896px;
    border-left: none;
    border-right: none;
  }
}

.additional-products__item-title {
  margin: 13px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $mine-shaft;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 30%;
  }
}

.additional-products__order-button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px 10px 15px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.additional-products__info {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-family: $font-family-arial;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 8px;
    margin-left: 13px;
    width: 288px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
