.collaboration__text {
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: $cod-gray;
  text-transform: uppercase;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 20px;
    line-height: 26px;
  }
}

.collaboration__address {
  font-family: $font-family-arial;
  font-size: 14px;
  line-height: 20px;

  br + br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    text-align: right;

    br + br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.collaboration__wrapper {
  display: flex;
  align-items: center;
  padding: 0 $gap-small;
  min-height: 114px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 72px;
    justify-content: space-between;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 76px;
    padding-right: 89px;
    width: 570px;
    background-color: $basic-white;
  }
}
