.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.developer__name {
  font-family: $font-family-arial;
  font-size: 16px;
  line-height: 18px;
}

.developer__logo {
  margin-left: 22px;
  font-size: 0;
  line-height: 100%;
}

.developer__name,
.developer__logo {
  color: inherit;

  &:active {
    opacity: 0.6;
  }
}

.developer__logo:hover .developer__icon {
  color: $basic-green;
}
