.example {
  @media (min-width: $desktop-width) {
    background-color: $gallery;
  }
}

.example__weight,
.example__term {
  font-size: 24px;
  line-height: 24px;
}

.example__stats-caption {
  font-family: $font-family-arial;
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
}

.example__slider-text {
  color: $basic-black;
  text-transform: uppercase;
}

.example__top-container {
  padding-left: $gap-small;
  padding-right: $gap-small;

  @media (max-width: $mobile-width-only) {
    background-color: $gallery;
  }

  @media (min-width: $tablet-width) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    padding-left: $gap-large;
    padding-right: $gap-large;
    background-color: transparent;
  }
}

.example__slider {
  padding-left: $gap-small;
  padding-right: $gap-small;
  background-color: $gallery;

  @media (min-width: $tablet-width) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    padding-left: $gap-large;
    padding-right: $gap-large;
    background-color: transparent;
  }
}
