.form {
  overflow: hidden;
}

.form__submit-button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 18px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__select-program {
  margin-bottom: 5px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
  color: $mine-shaft;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 45px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
    margin-bottom: 0;
    padding: 0;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    border: 1px solid $alto;
    padding: 23px 28px;

    .form-field {
      margin-bottom: 11px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 23px 27px;
  }
}

.form__legend {
  display: inline-block;
  position: relative;
  margin-bottom: 36px;
  width: fit-content;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $basic-black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: $basic-green;
  }

  &::before {
    display: none;
    left: -100000px;

    @media (min-width: $tablet-width) {
      display: block;
      right: calc(100% + 40px);
    }
  }

  &::after {
    right: -100000px;
    left: calc(100% + 20px);

    @media (min-width: $tablet-width) {
      left: calc(100% + 40px);
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__additional {
  margin-bottom: 34px;
  color: $basic-black;

  .form__legend {
    margin-bottom: 56px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    display: flex;

    .form-field {
      width: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;

    .form-field {
      width: 25%;
    }
  }
}

.form__hint-text {
  margin-top: 21px;
  margin-bottom: 0;
  font-family: $font-family-arial;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 60px;
  }
}

.form__cat-info {
  padding-bottom: 22px;

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    padding: 0;
  }
}

.form__contacts {
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    .form-field {
      width: 50%;
    }
  }
}

.form__contacts-legend {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.form__comment {
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.form__actions {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;

    .form__submit-button,
    .form__hint-text {
      width: 50%;
    }

    .form__hint-text {
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;

    .form__hint-text {
      margin-left: 80px;
      width: auto;
    }

    .form__submit-button {
      width: 47%;
    }
  }
}

.form__additional-container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 60px;

    .form-field {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 80px;
  }
}

.form__contacts-container {
  @media (min-width: $desktop-width) {
    display: flex;

    .form-field {
      margin: 0;

      &:first-child {
        margin-right: 40px;
      }
    }

    .form-field + .form-field {
      margin-left: 40px;
    }
  }
}

.form__email {
  position: relative;

  .form-field__text-input {
    padding-right: 40px;

    &:focus {
      & + .form__email-icon line,
      & + .form__email-icon path {
        stroke: $basic-green;
      }
    }

    &--error {
      & + .form__email-icon line,
      & + .form__email-icon path {
        stroke: $vivid-tangerine;
      }
    }
  }
}

.form__email-icon {
  position: absolute;
  top: calc(50% - 7px);
  right: 15px;
}

.form__email-icon line,
.form__email-icon path {
  stroke: $mine-shaft;
}

.form__phone {
  position: relative;

  .form-field__text-input {
    padding-right: 40px;

    &:focus + .form__phone-icon path {
      fill: $basic-green;
    }

    &--error + .form__phone-icon path {
      stroke: $vivid-tangerine;
    }
  }
}

.form__phone-icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
}

.form__textarea {
  padding: 9px 12px 9px 15px;
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid $mercury2;

  @media (min-width: $tablet-width) {
    height: 174px;
  }
}
