.gift {
  display: flex;
  padding: 48px 0 43px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 289px;
  background-image: url("../../img/gift-photo-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 124px 0 78px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 48px 0 43px;
    width: 245px;
  }
}

.gift__text {
  display: inline-block;
  margin: 0;
  width: 161px;
  font-family: $font-family-arial;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.gift__icon {
  display: block;
}
