.main-page .page-header {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
  }
}

.main-page .main-nav {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.main-page .main-nav__item:last-child() {
  border-bottom: none;
}

.main-page .logo:hover,
.main-page .logo:active {
  opacity: 1;
}

.main-page .page__body {
  counter-reset: about-item;
}
