.nutrition {
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    background: linear-gradient(to right, $basic-white 50%, $translucent-green 50%);
  }
}

.nutrition__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.nutrition__top-container {
  position: relative;
  padding-top: 27px;
  height: 302px;
  background-color: $translucent-green;
  text-align: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/nutrition-background-cat.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .nutrition__select-program-button {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 112px;
    height: auto;
    text-align: left;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 50%;

    .nutrition__select-program-button {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 223px;
  }
}

.nutrition__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.nutrition__slogan {
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }
}

.nutrition__title,
.nutrition__slogan {
  color: $basic-black;

  @media (max-width: $mobile-width-only) {
    color: $basic-white;
  }
}

.nutrition__bottom-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 $gap-small;
  height: 178px;

  @media (min-width: $tablet-width) {
    padding-left: 112px;
    height: 580px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 50%;
    height: 696px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 720px;
      height: 100%;
      background-image: url("../../img/nutrition-background-cat-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      z-index: -1;
    }

    .nutrition__select-program-button {
      display: none;
    }
  }
}

.nutrition__image {
  position: absolute;
  top: -135px;
  left: 0;
  right: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    top: -15px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: -100px;
    bottom: 0;
    margin-top: auto;
    margin-left: 0;
    z-index: 0;
  }
}

.nutrition__select-program-button {
  @media (min-width: $tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
