.page-header {
  &--menu-opened {
    .page-header__navigation {
      display: block;
    }

    .page-header__menu-toggle {
      width: 18px;
      height: 18px;
      background-image: url("../../img/cross.svg");
      background-size: contain;
    }
  }

  &--no-js {
    .page-header__menu-toggle {
      display: none;
    }

    .page-header__navigation {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__menu-toggle {
  display: none;
  position: relative;
  padding: 0;
  width: 24px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../img/burger.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.page-header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $gap-small;
  padding-right: 23px;
  height: 66px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $mercury;
  }

  @media (min-width: $tablet-width) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.page-header__logo-with-image {
  display: block;
}

.page-header__logo-with-text {
  display: block;
  margin-left: 56px;
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
}

.page-header__navigation {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-right: $gap-medium;
  }
}

.page-header__logo {
  display: block;
}
