.page-main__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}

.page-main__text {
  margin-top: 27px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
}

.page-main__wrapper {
  padding-left: $gap-small;
  padding-right: $gap-small;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-main__box {
  @media (min-width: $desktop-width) {
    display: flex;

    .form__fieldset {
      width: 50%;
    }
  }
}
