.page-footer__wrapper {
  padding-left: $gap-small;
  padding-right: $gap-small;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: $gap-medium;
    padding-right: $gap-medium;
    height: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $gap-large;
    padding-right: $gap-large;
  }
}

img.page-footer__map {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

.page-footer__bottom-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__collaboration {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-wrapper {
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
}

.page-footer__logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__location-wrapper {
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.page-footer__location .collaboration {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    left: 110px;
    top: 95px;
  }
}
