.page-main__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}

.page-main__text {
  margin-top: 27px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
}
