.page {
  height: 100%;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $tundora;
}
