.page-main__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 64px;
    margin-bottom: 56px;
  }
}

.page-main__text {
  margin-top: 27px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.page-main__wrapper {
  padding-left: $gap-small;
  padding-right: $gap-small;
  width: 100%;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $tablet-width) {
    .title {
      margin-bottom: 164px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-main__box {
  @media (min-width: $desktop-width) {
    display: flex;

    .form__fieldset {
      width: 50%;
    }
  }
}
