.programs {
  margin-bottom: 27px;
  padding: 0 $gap-small;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-left: $gap-medium;
    padding-right: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 0;
  }
}

.programs__item {
  padding: 24px 20px 18px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    padding: 75px 62px 60px 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 58px;
  }
}

.programs__title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    margin-left: 19px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
    margin-top: 29px;
  }
}

.programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-transform: uppercase;

  &:hover {
    .programs__arrow-icon {
      display: none;
    }

    .programs__arrow-large-icon {
      display: block;
    }
  }

  &:active {
    color: $translucent-black;

    .programs__arrow-large-icon,
    .programs__arrow-icon {
      & line {
        stroke: $translucent-black;
      }

      & path {
        fill: $translucent-black;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__arrow-large-icon,
.programs__arrow-icon {
  position: absolute;
  top: calc(50% - 6px);
}

.programs__arrow-large-icon {
  display: none;
  right: -60px;
}

.programs__arrow-icon {
  right: -39px;

  @media (min-width: $desktop-width) {
    right: -52px;
  }
}

.programs__icon-large-container {
  display: none;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $basic-green;
  flex-shrink: 0;

  .programs__cat-slim-icon {
    top: -10px;
    left: 32px;
    width: 140px;
    height: 192px;
  }

  .programs__cat-pro-icon {
    top: 45px;
    left: -36px;
    width: 268px;
    height: 112px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: block;
    margin-top: 14px;
  }
}

.programs__row {
  display: flex;
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.programs__list {
  display: grid;
  gap: $gap-small;

  @media (min-width: $tablet-width) {
    gap: $gap-medium;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__icon-small-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;

  .programs__cat-slim-icon {
    width: 36px;
    height: 50px;
    top: -2px;
    left: 4px;

    @media (min-width: $tablet-width) {
      width: 70px;
      height: 97px;
      top: -5px;
      left: 15px;
    }
  }

  .programs__cat-pro-icon {
    width: 67px;
    height: 28px;
    top: 10px;
    left: -10px;

    @media (min-width: $tablet-width) {
      width: 134px;
      height: 56px;
      top: 20px;
      left: -19px;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100px;
    height: 100px;
  }
}

.programs__cat-slim-icon,
.programs__cat-pro-icon {
  position: absolute;
}

.programs__description {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 15px;
    padding-bottom: 23px;
    border-bottom: 1px solid $alto;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-right: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}
