.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
  }
}

.show-more__button {
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: $tundora;
  background-color: $basic-grey;

  &:hover {
    background-color: $gallery2;
  }

  &:focus {
    color: $basic-black;
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.show-more__icon-container {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/plus.svg");
  background-size: contain;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    width: 60px;
    height: 60px;
    background-image: url("../../img/plus-large.svg");
  }
}

.show-more__title {
  margin-top: 49px;
  margin-bottom: 15px;
  width: fit-content;
  color: $cod-gray;

  @media (min-width: $tablet-width) {
    width: 150px;
    line-height: 22px;
  }
}

.show-more .product-card__description-text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 167px;
    line-height: 18px;
  }
}
