.slider {
  position: relative;
  padding-bottom: 35px;
  background-color: $gallery;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 33px;
    background-color: transparent;
  }
}

.slider-control {
  margin: auto;
  display: flex;
  align-items: center;
  width: 62%;

  &:hover {
    & .slider-text::after {
      border-bottom-style: solid;
    }

    & .slider-inner-bar {
      @media (min-width: $tablet-width) {
        box-shadow: 0 2px 4px $translucent-black;
      }
    }
  }

  &:focus {
    & .slider-text::after {
      border: none;
    }

    & .slider-inner-bar {
      @media (min-width: $tablet-width) {
        box-shadow: 0 3px 5px $translucent-black;
        border-color: $basic-green;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 74%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: 36px;
    margin: 0;
    margin-left: auto;
    width: 83%;
  }
}

.slider-inner-bar {
  width: 50%;
  height: 6px;
  border-radius: 6px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -14px;
    left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $silver;
    background-color: $basic-white;
    box-shadow: 0 1px 3px $translucent-black;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
    }
  }
}

.slider-image {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: -88px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    left: 40px;
  }
}

.slider-bar {
  position: relative;
  margin: 0 14px;
  padding: 3px 6px;
  height: 14px;
  flex-grow: 1;
  border: 1px solid $silver;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 0 21px;
    padding: 0;
    height: 6px;
    background-color: $alto2;
  }

  @media (min-width: $desktop-width) {
    margin-left: 27px;
  }
}

.slider-text {
  position: relative;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: 1px dotted $translucent-black;
      bottom: -2px;
      left: 0;
    }
  }
}
