.socials {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $alto;
    border-bottom: 1px solid $alto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 28px;
    }
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  height: 63px;

  @media (min-width: $desktop-width) {
    margin-left: 40px;
  }
}

.socials__item {
  @media (min-width: $tablet-width) {
    & + & {
      margin-left: 28px;
    }
  }
}

.socials__item:hover .socials__fb-icon path {
  fill: none;
  stroke: $basic-green;
}

.socials__vk-icon,
.socials__instagram-icon,
.socials__facebook-icon {
  color: $dove-gray;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials__vk-icon {
  width: 22px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 17px;
  }
}

.socials__instagram-icon {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.socials__facebook-icon {
  width: 13px;
  height: 20px;
  fill: transparent;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 30px;
  }
}
