@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


$font-family-arial: "Arial", sans-serif;
$font-family-oswald: "Oswald", "Arial", sans-serif;

$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-green: #68b738;
$apple: #5eaa2f;
$tundora: #444444;
$gallery: #eaeaea;
$gallery2: #ebebeb;
$alto: #d9d9d9;
$alto2: #dcdcdc;
$cod-gray: #111111;
$mine-shaft: #222222;
$mercury: #e6e6e6;
$silver: #cdcdcd;

$translucent-white: rgba(255, 255, 255, 0.3);
$translucent-green: rgba(104, 183, 56, 0.85);
$translucent-black: rgba(0, 0, 0, 0.3);

$gap-small: 20px;
$gap-medium: 30px;
$gap-large: 110px;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1439px;


*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
